/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* Grid (Test 1.1 and Test 1.2) */
.container {
  padding: 0 15px;
  margin: 0 auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.row {
  margin: 0 -15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding: 0 15px;
  min-height: 1px;
  position: relative; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  width: 100%; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-0 {
  left: auto; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
@media (min-width: 992px) {
  .container {
    width: 1170px; }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-0 {
    left: auto; } }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
/*end Grid (Test 1.1 and Test 1.2)*/
/*For my tests*/
h1 {
  padding: 15px;
  margin: 20px 0;
  background: lightgreen;
  color: red;
  font-size: 28px;
  font-weight: 800;
  text-align: center; }

.test div {
  padding: 20px 0;
  margin-top: 15px;
  background: rgba(255, 255, 0, 0.4); }

.testHeight {
  min-height: 800px;
  background: lightyellow; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  background: lightgray; }

.slick {
  position: relative; }
  .slick__wrap {
    margin: 20px auto;
    padding: 0; }
  .slick__item {
    max-height: 500px; }
  .slick__img {
    width: 100%;
    display: inline-block; }
  .slick__dots {
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center; }
    .slick__dots li {
      margin: 0 5px;
      display: inline-block; }
    .slick__dots button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;
      outline: none;
      opacity: 0.4;
      background: aqua;
      color: aqua; }
    .slick__dots li.slick-active button {
      opacity: 0.7; }

.parallax {
  width: 100%;
  min-height: 780px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .parallax__head {
    padding: 40px 0;
    font-size: 32px;
    font-weight: 700;
    color: aqua;
    text-align: center; }
  .parallax__text {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 600;
    color: aquamarine;
    text-align: center; }
  .parallax__img {
    width: 100%;
    max-width: 300px;
    max-height: 250px;
    blend-mode: color;
    position: absolute; }
    .parallax__img--shark1 {
      bottom: 10%;
      left: 10%; }
    .parallax__img--shark2 {
      right: 20%;
      top: 20%; }
    .parallax__img--shark3 {
      top: 15%;
      left: 15%; }
    .parallax__img--nemo1 {
      max-width: 200px;
      max-height: 150;
      bottom: 10%;
      left: 30%; }

.parallax__bg {
  bottom: 0;
  transform: translate(0, 0); }

/*# sourceMappingURL=styles.css.map */
