/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* Grid (Test 1.1 and Test 1.2) */

.container  {
  padding: 0 15px;
  margin:  0 auto;
  
  &:before, &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
   &:before, &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

%col {
  padding:  0 15px;
  min-height: 1px;
  position: relative;
}

.col-md {
  &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
    width: 100%;
    @extend %col;
  }
}

.col-xs {
   &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
     @extend %col;
     float: left;
  }
}

@for $i from 1 through 12 {
  .col-xs-#{$i} { 
    width: 8.33333333% * $i; 
  };
  
  .col-xs-pull-#{$i} {
    right: 8.33333333% * $i;
  };
  
  .col-xs-push-#{$i} {
    left: 8.33333333% * $i;
  }  
}

@for $i from 0 through 12 {
  .col-xs-offset-#{$i} {
    margin-left: 8.33333333% * $i;
  }  
}

.col-xs-pull-0 {
  right:  auto;
}

.col-xs-push-0 {
  left:  auto;
}


@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 1170px;
  }
  
  .col-md {
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
     float: left;
    }
  }
  
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: 8.33333333% * $i; 
    }
    
    .col-md-pull-#{$i} {
      right: 8.33333333% * $i;
    };
    
    .col-md-push-#{$i} {
      left: 8.33333333% * $i;
    };
  }
  
  @for $i from 0 through 12 {
    .col-md-offset-#{$i} {
      margin-left: 8.33333333% * $i;
    }  
  }
  
  .col-md-pull-0 {
    right:  auto;
  }

  .col-md-push-0 {
    left:  auto;
  }
  
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*end Grid (Test 1.1 and Test 1.2)*/


/*For my tests*/

h1 {
  padding:  15px;
  margin:  20px 0;
  background: lightgreen;
  color: red;
  font-size: 28px;
  font-weight:  800;
  text-align: center;
}

.test div {
  padding:  20px 0;
  margin-top: 15px;
  background: rgba(255, 255, 0, 0.4);
}

.testHeight {
  min-height: 800px;
  background: lightyellow;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  background: lightgray;
}


.slick {
  position: relative;
  
  &__wrap {
    margin:  20px auto;
    padding:  0;
  }
  
  &__item {
    max-height: 500px;
  }
  
  &__img {
    width:  100%;
    
    display: inline-block;
  }
  
  &__dots {
    width:  100%;
    position: absolute;
    bottom: 10%;
    text-align: center;
    
    li {
      margin:  0 5px;
      display: inline-block;
    }
    
    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;
      outline: none;
      opacity: 0.4;
      background: aqua;
      color: aqua;
    }
    
    li.slick-active {
      button {
        opacity:  0.7;
      }
    }
  }
}

.parallax {
  width:  100%;
  min-height: 780px;
//  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
//  background-attachment: fixed;
  position: relative;
  
  &__head {
    padding:  40px 0;
    font-size: 32px;
    font-weight: 700;
    color: aqua;
    text-align: center;
  }
  
  &__text {
    margin: 40px 0;
    font-size:  24px;
    font-weight: 600;
    color: aquamarine;
    text-align: center;
  }
  
  &__img {
    width:  100%;
    max-width: 300px;
    max-height: 250px;
    blend-mode: color;
    position: absolute;
    
    &--shark1 {
      bottom: 10%;
      left: 10%;
    }
    
    &--shark2 {
      right: 20%;
      top: 20%;
    }
    
    &--shark3 {
      top: 15%;
      left:  15%;
    }
    
    &--nemo1 {
      max-width:  200px;
      max-height: 150;
      bottom: 10%;
      left:  30%;
    }
  }
}




.parallax__bg {
  bottom: 0;
  transform: translate(0, 0);
}








































